absl-py==2.1.0
aiobotocore==2.15.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aioitertools==0.12.0
aiolimiter==1.1.0
aiosignal==1.3.1
altair==5.1.2
annotated-types==0.6.0
anyio==4.6.2.post1
appdirs==1.4.4
appnope==0.1.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==24.2.0
Babel==2.14.0
backoff==2.2.1
bcrypt==4.1.2
beautifulsoup4==4.12.3
bleach==6.1.0
blessed==1.20.0
blinker==1.9.0
botocore==1.35.36
build==1.2.1
cachetools==5.5.0
certifi==2024.8.30
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.4.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
ci-info==0.3.0
click==8.1.7
coloredlogs==15.0.1
comm==0.2.1
config==0.5.1
configobj==5.0.8
configparser==7.0.0
contourpy==1.1.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.1.0
debugpy==1.8.1
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.8
distro==1.9.0
document==1.0
docx==0.2.4
editor==1.6.6
elastic-transport==8.13.1
elasticsearch==8.14.0
environs==9.5.0
et-xmlfile==1.1.0
etelemetry==0.3.1
executing==2.0.1
fastapi==0.110.1
fastjsonschema==2.19.1
filelock==3.16.1
fitz==0.0.1.dev2
Flask==3.0.3
Flask-Cors==4.0.1
flatbuffers==23.5.26
fonttools==4.43.1
fqdn==1.5.1
frontend==0.0.3
frozenlist==1.5.0
fsspec==2024.9.0
gast==0.5.4
gcsfs==2024.9.0.post1
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.22.0
google-auth==2.36.0
google-auth-oauthlib==1.2.1
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-pasta==0.2.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
gql==3.5.0
graphene==3.4.1
graphql-core==3.2.5
graphql-relay==3.2.0
grpcio==1.60.0
grpcio-tools==1.60.0
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hpack==4.0.0
httpcore==1.0.6
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.2
httpx-sse==0.4.0
huggingface-hub==0.26.2
humanfriendly==10.0
hyperframe==6.0.1
ibm-cloud-sdk-core==3.19.2
ibm-cos-sdk==2.13.6
ibm-cos-sdk-core==2.13.6
ibm-cos-sdk-s3transfer==2.13.6
ibm-generative-ai==3.0.0
ibm-watson==8.0.0
ibm-watsonx-ai==0.1.8
ibm_watson_machine_learning==1.0.359
idna==3.10
importlib_metadata==8.5.0
importlib_resources==6.4.5
inquirer==3.4.0
install==1.3.5
ipykernel==6.29.2
ipython==8.21.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.7.0
jmespath==1.0.1
joblib==1.3.2
json5==0.9.14
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.1.1
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.3
kaleido==0.2.1
keras==2.15.0
kiwisolver==1.4.5
kubernetes==29.0.0
langchain==0.1.20
langchain-chroma==0.1.0
langchain-community==0.0.38
langchain-core==0.1.53
langchain-experimental==0.0.58
langchain-ibm==0.0.1
langchain-openai==0.1.25
langchain-text-splitters==0.0.2
langsmith==0.1.140
libclang==16.0.6
lomond==0.3.3
looseversion==1.3.0
lxml==5.3.0
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.23.1
matplotlib==3.9.0
matplotlib-inline==0.1.6
mdurl==0.1.2
memoized-property==1.0.3
minio==7.2.4
mistune==3.0.2
ml-dtypes==0.2.0
mmh3==4.1.0
monotonic==1.6
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.16.0
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
nibabel==5.2.1
nipype==1.8.6
notebook_shim==0.2.4
npm==0.1.1
numpy==1.26.4
nzpy==1.15
oauthlib==3.2.2
onnxruntime==1.17.1
openai==1.54.3
openpyxl==3.1.5
opentelemetry-api==1.24.0
opentelemetry-exporter-otlp-proto-common==1.24.0
opentelemetry-exporter-otlp-proto-grpc==1.24.0
opentelemetry-instrumentation==0.45b0
opentelemetry-instrumentation-asgi==0.45b0
opentelemetry-instrumentation-fastapi==0.45b0
opentelemetry-proto==1.24.0
opentelemetry-sdk==1.24.0
opentelemetry-semantic-conventions==0.45b0
opentelemetry-util-http==0.45b0
opt-einsum==3.3.0
optional-django==0.1.0
orjson==3.9.15
overrides==7.7.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.1
parso==0.8.3
pathlib==1.0.1
pexpect==4.9.0
Pillow==10.0.1
platformdirs==4.2.0
plotly==5.23.0
posthog==3.5.0
prettytable==3.10.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
propcache==0.2.0
proto-plus==1.25.0
protobuf==5.28.3
prov==2.0.0
psutil==5.9.8
ptyprocess==0.7.0
pulsar-client==3.4.0
pure-eval==0.2.2
pyarrow==18.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.7.4
pydantic_core==2.18.4
pydeck==0.8.1b0
pydot==2.0.0
Pygments==2.18.0
PyJWT==2.8.0
pymilvus==2.3.6
PyMuPDF==1.24.2
PyMuPDFb==1.24.1
pyparsing==3.1.1
pypdf==4.2.0
PyPDF2==3.0.1
PyPika==0.48.9
pyproject_hooks==1.0.0
pysbd==0.3.4
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
python-frontmatter==1.0.1
python-json-logger==2.0.7
pytz==2024.2
pyxnat==1.6.2
PyYAML==6.0.2
pyzmq==25.1.2
ragas==0.1.22
rdflib==7.0.0
readchar==4.2.1
referencing==0.30.2
regex==2024.11.6
requests==2.32.2
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.10.4
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
runs==1.2.2
s3fs==2024.9.0
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.13.0
scramp==1.1.0
semver==3.0.2
Send2Trash==1.8.2
sentence-transformers==2.6.1
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.5
SQLAlchemy==2.0.36
stack-data==0.6.3
starlette==0.37.2
streamlit==1.31.1
sympy==1.12
tabulate==0.9.0
tenacity==8.5.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.18.0
text-extensions-for-pandas==0.2.1
TextLoader==0.0.9
tf-keras==2.15.0
threadpoolctl==3.4.0
tiktoken==0.8.0
tinycss2==1.2.1
tokenizers==0.20.3
toml==0.10.2
tomlkit==0.13.2
toolz==0.12.0
torch==2.2.2
tornado==6.3.3
tqdm==4.67.0
traitlets==5.14.1
traits==6.3.2
transformers==4.39.3
typer==0.12.1
types-python-dateutil==2.8.19.20240106
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.1
ujson==5.9.0
uri-template==1.3.0
urllib3==2.2.3
utils==1.0.2
uvicorn==0.29.0
uvloop==0.19.0
validators==0.22.0
watchfiles==0.21.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==12.0
Werkzeug==3.1.3
wordcloud==1.9.2
wrapt==1.16.0
wxflows_cli @ file:///Users/sakshimaurya/Desktop/RAG%20with%20flow%20engine/wxflows_cli-1.0.0rc172-py3-none-any.whl#sha256=7258083a4e8ac0575c76e10a2fb930bb153547bddf74deea52a4de6b210c66f9
wxflows_client==0.1.0
XlsxWriter==3.2.0
xmod==1.8.1
xxhash==3.5.0
yarl==1.17.1
zipp==3.20.2

